@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate-3d {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

.adjective-rotate {
    display: inline-block;
    animation: rotate-3d 1s forwards; /* Play the animation for 1 second */
}
